@import "./utils/variables";
@import "./utils/mixins";
@import "./base/base";
@import "./layouts/header";
@import "./layouts/footer";


body{
    margin:auto;
    font-size: 1.25rem;
}
h1, h2{
    font-weight: normal;
    font-size: 1.5rem;
    margin: 0;
}
a{
    text-decoration: none;
    color: inherit;
.style--m1{
    font-family: 'Caveat', cursive;
    font-size: 2rem;
    letter-spacing: -0.07rem;
}  
}
.background--primary {
    color: map-get($color-text , primary);
    background-color: map-get($color-background, primary);
}
.bold{
    font-weight: bold;
}
ul{
    
    padding: 0 4rem;
}
li{
    list-style-type: none;
    @include flex__between;
}
.ctn{
    margin: 0 auto;
    max-width: 50rem;

    &__mid{
        @include flex__between;
        flex-wrap: wrap;
        padding: 5%;
    }
    &--menu{
        font-family:'Caveat', cursive;
        @include Block-menu__align;
        margin: 4rem 3rem 8rem 3rem;
        
        & span{
            position: relative;
            &:after{
                content: '';
                position: absolute;
                left: 0%;
                bottom: 0;
                width: 0;
                height: 2px;
                background: black;
                transition: width 700ms ease;
            }
            &:hover:after{
                width: 100%;
            }
        }
    }
    &--menu2{
        font-size: 0.8em;
        font-family: 'PT Serif', serif;
        background-color: #fcdfdb;
        & h2{
            font-size: 1.2em;
        }
    }
}
section{
    width: 100%;
}
.menu{
    @include Block-menu__size ;
    @include menu--color($menu__color);
    &--btn:hover{
        transform: scale(1.30);
        opacity: 0.5;
    }
    &-Kingsize{
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    &-3__bg{
        background-color: #edefef;
    }
    &--title{
        @include Block-menu__align;
        height: 25rem;
        transform: scale(1);
        transition: transform 500ms;
        &-2{
            @include text-degraded;
        }
        &-3{
            @include text-degraded3(map-get($color-text,menu-3),#21a3df);
        }
        &-4{
            @include text-degraded3;
        }
    }
}
.soon{
    @include Block-menu__align;
    font-size: 2rem;
    border-radius: 0.5rem;
    height: 3rem;
    width: 20rem;
    margin: 0 auto 7.2rem auto;
}
.load{
    padding-bottom: 0.5rem;
    &__point{
        font-size: 3rem;
        animation: points $anim-dur both infinite;
        animation-direction: alternate;
        @for $i from 1 through $num-points {
            &--#{$i} {
                animation-delay: $anim-delay * $i;
            }
        }
    }
}
.category-title{
    
    h2{
    width: 60%;
    }
    display: flex;
    &--border{

        width: 100%;

    }
    &--borderD{

        transform: scaleX(-1);

    }
}
.note{
    width: 4rem;
    &-bot{
        vertical-align: middle;
        width: 2rem;
        padding-right: 0.5rem;
    }
}