@import "./utils/variables";
@import "./utils/mixins";



body{
    margin:auto;
    font-size: 1.25rem;
}
h1, h2{
    font-weight: normal;
    font-size: 1.5rem;
}
a{
    text-decoration: none;
    color: inherit;
    
}
.background--primary {
    color: map-get($color-text , primary);
    background-color: map-get($color-background, primary);
}
.ctn{
    margin: 0 auto;
    max-width: 50rem;
}
.header{
    &_ctn{
        padding: 2em 0 2em 0;
    }
    &__h1{
    text-align:center;
    margin: 0;
    }
}
.ctn__mid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5%;
}
.menu{
    @include Block-menu__size ;

    &--title{
        @include Block-menu__align;
        height: 25rem;
        &-2{
            @include text-degraded;
        }
        &-4{
            @include text-degraded4;
        }
    }
}
.soon{
    @include Block-menu__align;
    font-size: 2rem;
    border-radius: 0.5rem;
    height: 3rem;
    width: 20rem;
    margin: 3rem auto;
}
footer {
    display:flex;
    justify-content: space-between;
    padding: 0 1.5em;
}
