//colors

$color-background: (
    primary:#579c87,
    menu-1:#fcdfdb,
    menu-2:#fff5fe,
    menu-3:#f9f9f9,
    menu-4:#fdfffd,
);



$color-text: (
    primary:#fdcb46,
    menu-1: #3c1218,
    menu-2: #d8852e,
    menu-3: #2140df,
    menu-4: #42973c,
);

$menu__color: (
    1: (
        bg: #fcdfdb,
        color: #3c1218,
        txt :'Caveat',
    ),
    2: (
        bg: #fff5fe,
        color:#d8852e,
        txt :'Croissant One',
    ),
    3: (
        bg: #f9f9f9,
        color:#2140df,
        txt : 'Great Vibes',
    ),
    4: (
        bg: #fdfffd,
        color:#42973c,
        txt : 'Kaushan Script',
    ),
);

$menu2__color: (
    entrees: #c67412,
    plats: #a56799,
    desserts: #6e4ccc,
);



//animation soon
$anim-dur: 1000ms;
$num-points: 3;
$anim-delay: $anim-dur / $num-points;

//animation wiggle
