/* Error: expected "{".
 *    ,
 * 10 | @import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
 *    |                                                                              ^
 *    '
 *   sass\base\_base.scss 10:78  @import
 *   sass\main.scss 3:9          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected \"{\".\a    \2577 \a 10 \2502  @import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');\d\a    \2502                                                                               ^\a    \2575 \a   sass\\base\\_base.scss 10:78  @import\a   sass\\main.scss 3:9          root stylesheet";
}
