
footer {
    @include flex__between;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 50rem;
    margin: 0;
    div{
        width: 33%;
    }
}


//animation wiggle


.start{
    &-left{
    transform-origin: 25% 25%;
    }
    &-right{
    text-align: right;
    transform-origin: 75% 75%;
    }
}
.wiggle:hover{
    animation: anim-wiggle 300ms infinite;
}