
footer {
    @include flex__between;
    padding: 0 1.5em;
    position: fixed;
    bottom: 0;
    width: 740px;
    margin: 0;
    div{
        width: 33%;
    }
}
.start{
    &-left{
    transform-origin: 25% 25%;
    }
    &-right{
    text-align: right;
    transform-origin: 75% 75%;
    }
}
.wiggle:hover{
    animation: anim-wiggle 300ms infinite;
}