 header{
        padding: 1em 0;
        h1{
            
            height: 3em;
            text-align: center;
        }
        img{
            height: 100%;
            width: 33%;
        }
    }